<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107059769118-supnmmljt2aittp22hb145s71j30cbta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107059769118-supnmmljt2aittp22hb145s71j30cbta</string>
	<key>API_KEY</key>
	<string>AIzaSyDsyKkemUz5CM6t671Py6cmoDmUlnl31oA</string>
	<key>GCM_SENDER_ID</key>
	<string>107059769118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.praksaFrontend</string>
	<key>PROJECT_ID</key>
	<string>moj-upravitelj</string>
	<key>STORAGE_BUCKET</key>
	<string>moj-upravitelj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107059769118:ios:eb97e4881ce1766de9a30f</string>
</dict>
</plist>